#header-main{
  text-align: center;
  font-size: 4rem;
  font-weight: bolder;
  margin-bottom: 4rem;
  text-shadow: 1px 1px rgba(0,0,0,0.2);
}

.paintings{
  width: 90%;
  margin: auto;
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 50px;
}
.paintings a{
  color: black;
  text-decoration: none;
  pointer-events: none;
  cursor: default;
}
.paintings img{
  width: 100%;
  /*box-shadow: 7px 7px 7px 7px rgba(0,0,0,0.2);*/
}
.paintings p{
  text-align: center;
}

.paintings img:hover{
  /*box-shadow: 7px 7px 7px 7px rgba(0,0,0,0.6);
  transition: 1s;*/
}


@media only screen and (min-width: 768px) {
  .paintings{
    grid-template-columns: 1fr 1fr;
    width: 98%;
    margin: auto;
  }
  .divPainting{
    display: flex;
    flex-direction: column;
  }
  .divPainting a{
    order: 2;
  }
}
@media only screen and (min-width: 1024px) {
  .paintings{
    grid-template-columns: 1fr 1fr 1fr;
    width: 96%;
  }
  .paintings a{
    pointer-events: auto;
    cursor: pointer;
  }
}
@media only screen and (min-width: 1200px) {
  .paintings{
    grid-template-columns: 1fr 1fr 1fr 1fr;
    width: 94%;
  }
}